@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    --Big-Shoulders-Display: 'Big Shoulders Display', cursive;
    --Lexend-Deca: 'Lexend Deca', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--Lexend-Deca);
    font-weight: 400;
    font-size: 15px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(83, 78, 78);
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
}
.column:nth-of-type(1){
    background-color: var(--Bright-orange);
    border-radius: 7px 0 0 7px;
    color: var(--Bright-orange);
}
.column:nth-of-type(2), input{
    background-color: var(--Dark-cyan);
    color: var(--Dark-cyan);

}
.column:nth-of-type(3){
    background-color: var(--Very-dark-cyan);
    border-radius: 0 7px 7px 0;
}
.column{
    padding: 2em;
}
.column h2{
    color: var(--Very-light-gray);
    font-family: var(--Big-Shoulders-Display);
    font-weight: 700;
    margin-top: 2em;
}
.column p{
    color: var(--Transparent-white);
    margin-top: 2em;
    line-height: 1.6;
}
.btn{
    margin-top: 5em;
}
.btn input{
    background-color: var(--Very-light-gray);
    border: none;
    padding: 1em 2em;
    border-radius: 20px;
}
input:first-of-type{
    color: var(--Bright-orange);
}
